.map-container {
  height: 400px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sidebar {
  background-color: rgba(237, 237, 237, 0.9);
  color: rgb(52 51 50);
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
