.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***** Typography ********/
* {
  font-family: "Mali", cursive;
}

/****      Header     *****/
.navLink {
  text-decoration: none;
  color: rgb(37 37 38);
  font-size: 1.5rem;
}
.navLink:hover {
  color: #61dafb;
}

/******* Events Container ********/

/******* Events column ********/
.events-column {
  display: flex;
  justify-content: center;
}

/****     Event Cards    ******/
.card-link {
  text-decoration: none;
  color: rgb(37 37 38);
}

.card-link:hover {
  color: darkturquoise;
}

/******** photos ******/
.photos-column {
  display: flex;
  justify-content: center;
}
